body{
    background-color: #fdfbfc;
}
.centered-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    color:#312c58;
    text-align: center;
}
h2{
    color:#312c58;
    text-align: center;
}
h3{
    color:#312c58;
    text-align: center;
}
button{    
    background-color:#cbc2c8;
}
.button-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
}