body{
    background-color: #fdfbfc;
}
.centered-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    color:#312c58;
    text-align: center;
}
h2{
    color:#312c58;
    text-align: center;
}
h3{
    color:#312c58;
    text-align: center;
}
button{    
    background-color:#cbc2c8;
    font-size: 1.15rem;       /* Enlarges the text inside */
    padding: 5px 10px;
}
button{
    transition : 0.2s
}
button:hover{
    transform:scale(
        1.3
    );
    background-color:#6d6fa1;
}
.button-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
li{
    color:#312c58;
    text-align: center;
    transform:scale(1.3);
}