<!DOCTYPE html>
<html lange="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title> Home - Budget App </title>
    </head>
    <body>
        <div class="centered-box">
            <h1>
                Budget App 
            </h1>
            <h2>
                Welcome!!
            </h2>
            <h3>What do you want to do??</h3>
            <div class="button-row">
                <button><a href="{{ url_for('ledger') }}">View Ledger</a></button>
                <button><a href="{{url_for('deposit') }}">Deposit</a></button>
                <button><a href="{{url_for('transaction_from') }}">Withdraw</a></button>
                <button><a href="{{url_for('bal')}}">View Balance</a></button>
            </div>
        </div>
        <div class="centered-box">
            <h2>
                Master Account Options
            </h2>
            <div class="button-row">
                <button><a href="{{ url_for('master_balance') }}">View Balance</a></button>
                <button><a href="{{url_for('deposit') }}">Deposit</a></button>
                <button><a href="{{url_for('bal')}}">Add Savings</a></button>
                <button><a href="{{url_for('bal')}}">View Savings</a></button>

            </div>
        </div>
        <br></br>
        <div class="centered-box">
            <h3>About</h3>
            <div class="button-row">
                <button><a href="https://github.com/atinterstellar">GitHub</a></button>
                <button><a href="https://www.linkedin.com/in/atin-kumar-7185162a5/">Linkedin</a></button>
            </div>
        </div>
    </body>
</html>