<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Ledger - Budget App </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="centered-box">
            <h1>
                Select Category to Display Ledger
            </h1>
            <h2 >
                Categories:
            </h2>
            <form action="/ledger" method="POST">
                {% for category in categories %}
                    <input name="category" type="radio" value= "{{category.name}}" > {{category.name}}
                {% endfor %}
                <button type="submit"> SELECT </button>
            </form>
        </div>
    </body>
</html>