<!DOCTYPE html>
<html>
<head>
    <title>Withdraw Savings - Budget App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="centered-box">
        <br></br>
        <h1>
            Withdraw Savings :
        </h1>
        <br></br>
        <form method="POST">
            <input type="text" placeholder="Amount" name="amount" >
            <br></br>
            <br></br>
            <button type="submit">Withdraw</button>
        </form>
    </div>
</body>
</html>