<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WITHDRAW - Budget App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class = "centered-box">
            <h2>ENTER AMOUNT :</h2>
            <form method="POST">
                <input type="text" placeholder="Amount" name="amount" >
                <input type="text" placeholder="DESCRIPTION" name="desc" > 
                <button type="submit">Withdraw</button>
            </form>
        </div>
    </body>
</html>